

.container
{
    border: 8px solid rgb(220, 209, 209);
    display: flex;
    
    flex-direction: row;
    justify-content: start;
    height: 400px;
    align-items: stretch;
    
}

.classbox
{
    width: 180px;
    background-size: cover;
    background-color: brown;
    border: 2px solid black;
    background-image: url(./images/download\ \(naruto\).jpeg);
    background-repeat: no-repeat;
}

#box1
{
    flex-grow: 2;
}

#box2
{
    flex-grow: 1;
}

#box3
{
    flex-shrink: 3;
}